* {
   box-sizing: border-box;
   font-family: helvetica;
}
#user-selection {
   display: inline-block;
   float: left;
   width: 150px;
   padding: 1rem;
}
#user-view {
   display: inline-block;
   background-color: #E0E0E0;
   min-height: 300px;
   width: calc(100% - 300px);
   margin-right: 150px;
   padding: 1rem;

}
#user-view h1 {
   font-size: 250%;
   text-align: center;
}
#user-view p {
   margin: 0.2rem;
}
.verse-num {
   color: #404040;
   font-size: small;
   vertical-align: top;
   /*text-align: right;*/
}